* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  color: rgb(255, 255, 255);
  transition: color 0.15s, background-color 0.15s;
}

body {
  background: rgb(9, 14, 52);
  background-image: url("/images/hero/shape-01.svg");
  background-position: right top;
  background-repeat: no-repeat;
}

section:nth-child(2n) {
  background: rgba(74, 108, 247, 0.05);
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
  margin-block: 1rem;
}

h2 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-block: 1rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-block: 1rem;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-block: 1rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-block: 1rem;
  color: rgb(149, 156, 177);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
  font-weight: 500;
}

input, textarea {
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.05);
}
input:focus, textarea:focus {
  outline: 1px solid rgb(74, 108, 247);
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: rgb(149, 156, 177);
}
input::placeholder, textarea::placeholder {
  color: rgb(149, 156, 177);
}

textarea {
  resize: none;
}

.header {
  -webkit-backdrop-filter: blur(0.25rem);
          backdrop-filter: blur(0.25rem);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-items: space-between;
  align-items: center;
  -moz-column-gap: 4.8rem;
       column-gap: 4.8rem;
  padding: 1.5rem 4.8rem;
  background: rgba(74, 108, 247, 0.2);
}
.header__logo {
  height: 2.1rem;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__list {
  display: flex;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.header__link:hover {
  color: rgb(149, 156, 177);
}
.header__login-signup-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  font-weight: 700;
}
.header__login:hover {
  color: rgb(149, 156, 177);
}
.header__signup {
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
  background-color: rgb(74, 108, 247);
}
.header__theme-toggler {
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh + 2.5rem);
  background-image: url("/images/hero/shape-02.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
}
.hero__title {
  width: 50%;
  text-align: center;
}
.hero__desc {
  width: 50%;
  text-align: center;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
}
.hero__btns-container {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-top: 2.5rem;
}
.hero__btn {
  border-radius: 0.5rem;
  padding: 1.1rem 2rem;
  background-color: rgb(74, 108, 247);
  font-weight: 500;
}
.hero__btn:last-child {
  background-color: rgba(255, 255, 255, 0.2);
}

.main-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem;
}
.main-features__title {
  width: 50%;
  text-align: center;
}
.main-features__desc {
  width: 50%;
  text-align: center;
}
.main-features__features-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 3rem;
}
.main-features__feature-icon-wrapper {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: rgba(74, 108, 247, 0.1);
  fill: rgb(74, 108, 247);
}
.main-features__feature-title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2.5rem 0 1.5rem;
  text-align: start;
}
.main-features__feature-desc {
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
  font-weight: 500;
  text-align: start;
}

.help {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 4.8rem;
}
.help__title {
  width: 50%;
  text-align: center;
}
.help__desc {
  width: 50%;
  text-align: center;
}
.help__video-section {
  width: 100%;
  padding: 4.8rem;
  background-image: url("/images/video/shape.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}
.help__video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.help__video-thumbnail {
  border-radius: 0.5rem;
}
.help__video-play {
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 9999px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  fill: rgb(74, 108, 247);
}
.help__video-play:hover {
  background-color: rgb(255, 255, 255);
}

.brands {
  padding: 4.8rem;
}
.brands__container {
  display: flex;
  justify-content: space-evenly;
  padding: 4.8rem;
  background-color: rgba(74, 108, 247, 0.05);
}
.brands__img {
  height: 2rem;
}

.about {
  display: flex;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
  padding: 4.8rem;
}
.about__container {
  flex-basis: 1fr;
}
.about__advantages-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.about__advantage {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.about__check-mark-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.85rem;
  height: 1.85rem;
  background-color: rgba(74, 108, 247, 0.1);
  fill: rgb(74, 108, 247);
}
.about__advantage-text {
  font-weight: 500;
}

.about2 {
  display: flex;
  -moz-column-gap: 10rem;
       column-gap: 10rem;
  padding: 4.8rem;
}
.about2__img {
  flex-basis: 1fr;
}
.about2__advantages-container {
  flex-basis: 1fr;
}
.about2__advantage {
  margin-top: 2rem;
}
.about2__advantage-desc {
  width: 70%;
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem;
}
.testimonials__title {
  width: 50%;
  text-align: center;
}
.testimonials__desc {
  width: 50%;
  text-align: center;
}
.testimonials__cards-container {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-top: 4.8rem;
}
.testimonials__card {
  flex-basis: 1fr;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.05);
}
.testimonials__stars-container {
  display: flex;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}
.testimonials__star-wrapper {
  fill: rgb(255, 174, 66);
}
.testimonials__comment {
  font-size: 1rem;
  line-height: 1.5rem;
}
.testimonials__author {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.testimonials__author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.testimonials__author-fullname {
  margin: 0;
}
.testimonials__author-job-position {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 0;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem;
}
.pricing__title {
  width: 50%;
  text-align: center;
}
.pricing__desc {
  width: 50%;
  text-align: center;
}
.pricing__cards-container {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-top: 4.8rem;
}
.pricing__card {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-basis: 1fr;
  padding: 2.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.05);
}
.pricing__price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pricing__per-month {
  color: rgb(149, 156, 177);
}
.pricing__card-btn {
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
  padding-block: 1rem;
  background-color: rgb(74, 108, 247);
  font-weight: 700;
}
.pricing__plan-features {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.pricing__feature {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.pricing__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
  fill: rgb(74, 108, 247);
}
.pricing__feature-text {
  margin: 0;
}

.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.8rem;
}
.blogs__title {
  width: 50%;
  text-align: center;
}
.blogs__desc {
  width: 50%;
  text-align: center;
}
.blogs__container {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-top: 4.8rem;
}
.blogs__blog {
  border-radius: 0.5rem;
  overflow: hidden;
}
.blogs__blog-img-wrapper {
  position: relative;
}
.blogs__blog-img {
  width: 100%;
  height: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.blogs__category {
  border-radius: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  padding: 0.5rem 1rem;
  background-color: rgb(74, 108, 247);
  font-weight: 600;
}
.blogs__blog-info {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.05);
}
.blogs__blog-title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
.blogs__blog-desc {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}
.blogs__pub-details {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.blogs__author {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.blogs__author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blogs__published-by {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
.blogs__job-position {
  font-size: 0.75em;
  line-height: 1rem;
  margin-top: 0.4rem;
  color: rgb(149, 156, 177);
}
.blogs__date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.blogs__date-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
}
.blogs__year {
  font-size: 0.75em;
  line-height: 1rem;
  margin-top: 0.4rem;
  color: rgb(149, 156, 177);
}

.contact {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  padding: 4.8rem;
}
.contact__container {
  border-radius: 0.5rem;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.05);
}
.contact__ticket-form, .contact__subscribe-form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 3rem;
}
.contact__name-email-container {
  display: flex;
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
}
.contact__btn {
  border: none;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: rgb(74, 108, 247);
  font-weight: 500;
}
.contact__subscribe-form {
  row-gap: 1rem;
  margin-top: 2.5rem;
  padding-top: 2.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.contact__subscribe {
  width: 100%;
}
.contact__no-spam {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}
.contact__container:nth-child(1) {
  width: 67%;
}
.contact__container:nth-child(2) {
  width: 33%;
  padding: 2.5rem;
  background-color: rgba(74, 108, 247, 0.1);
}

.footer {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 4.8rem;
  background: rgba(74, 108, 247, 0.05);
}
.footer__brand-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2.5rem;
  width: 40%;
}
.footer__logo {
  height: 1.7rem;
}
.footer__desc {
  font-size: 1rem;
  line-height: 1.5rem;
  width: 60%;
  font-weight: 500;
}
.footer__socials-container {
  display: flex;
  align-items: center;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}
.footer__social-wrapper {
  fill: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.footer__social-wrapper:hover {
  fill: rgb(74, 108, 247);
}
.footer__links-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 20%;
}
.footer__links-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.footer__link {
  color: rgb(149, 156, 177);
}
.footer__link:hover {
  color: rgb(74, 108, 247);
}/*# sourceMappingURL=app.css.map */